#main {
    width: 60%;
    padding-top: 0;
    margin: 0 auto;
    font-size: 14pt;
}

#search {
    width: 80%; 
    margin: 0 auto;
    font-size: 14pt;
    position: fixed; 
    top:0;
    background-color: white;
}

#word {
    width: 80%;
    margin: 10 auto;
    font-size: 14pt;
}

#wordlist {
    width: 100%;
    font-size: 14pt;
    margin: 138px auto 0px auto;
}
    
#footer {
    width: 100%; 
    bottom: 0;
    height: 30px;
    margin: 0 auto;
    position: fixed;
    font-size: 14pt;
    background-color: white;
}
