#main {width: 60%; margin: 0 auto; font-size: 14pt;}
#search {width: 100%; margin: 0 auto; font-size: 14pt;}
#word {width: 80%; margin: 0 auto; font-size: 14pt;}
#footer {width: 80%; margin: 0 auto; font-size: 14pt;}
