<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>dict.re-正则表达式词典</title>
    <script src="static/js/jquery-1.8.1.min.js"></script>
    <link href="static/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="static/css/main.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<ul class="nav nav-tabs">
  <li><a href="/">dict.re</a></li>
</ul>
<h1 align="center">regex dict</h1>
<div align="center">dict.re - regex dict<div>
</br/>

<div class="container">
    <form>
    <div class="input-append centered" >
        <input type="text"  class="input-medium span5" name="regex" id="regex" placeholder="请输入正则表达式"/>
        <button class="btn btn-primary" type="submit" id="query" >查询</button>
    </div>
    </form>
</div>
<br/>
<table class="table table-bordered centered" id="table">
</table>

<script type='text/javascript'>
$("#query").click(function(e){
        $(".num").val(1);
        e.preventDefault();
        var regex = $("input[name='regex']").val();
        var url = '/api/re/' + regex;
        $.ajax({
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data){
                console.log(data);
                if (data.code == 1) {
                    $("#table").html("<tr><th>单词</th><th>解释</th></tr>");
                    var words = data.words; 
                    if (words.length > 0) {
                        for (var i = 0; i < words.length; i++) {
                            $("#table").append('<tr><td>' + words[i][0] + '</td><td>' + words[i][1] + '</td></tr>')
                        } 
                    } else {
                        $("#table").html('<tr>抱歉，没有匹配到任何单词，请检查您输入的正则表达式是否有误。</tr>')
                    }
                }
                else {
                    $("#table").html('<tr>抱歉，发生了错误，请检查您输入的正则表达式是否有误。</tr>')
                }
            }
    });
});
</script>

<div id="footer" align="center">
<p>By <a target="_blank" href="http://solos.so">solos</a>&nbsp;&nbsp;<a target="_blank" href="http://www.miibeian.gov.cn" title="粤ICP备案号过期了">粤ICP备08117244号</a></p></div>
</body>
</html>
