<!DOCTYPE html>
<html ng-app="RegexDict">
    <head>
        <title>regex dict-正则表达式词典</title>
        <link rel="stylesheet" href="./css/style.css" type="text/css" media="screen,print" /> 
        <link rel="stylesheet" href="./css/mp3-player-button.css" type="text/css" media="screen,print" /> 
        <script type="text/javascript" src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/script.js"></script>
        <script type="text/javascript" src="./js/dict.js"></script>
        <script type="text/javascript" src="./js/soundmanager2-nodebug-jsmin.js"></script>
        <script type="text/javascript" src="./js/mp3-player-button.js"></script>
    </head>
    <body>
        <div id="main" ng-controller="RegexDictCtrl">
            <div id="search">
            <h1>regex dict-正则表达式词典</h1>
            <input id="word" type="text" value="" ng-model="word" placeholder="请输入正则表达式" align="center"/>
        </div>
        <div id="wordlist">
            <ul>
            <li class="word" ng-repeat="(word, des) in description">
                <p> {{word}} <a href="http://www.gstatic.com/dictionary/static/sounds/de/0/{{word}}.mp3" title="{{word}}发音" class="sm2_button"></a></br> {{des}} </p>
            </li>
            </ul>
        </div>
        <div id=footer>
            By <a href="http://solos.so">solos</a>&nbsp;
            <a href="http://weibo.com/appl">新浪微博</a>&nbsp;
            <a href="http://github.com/solos">github</a>
            <a href="http://github.com/solos/regexdict">源码</a>
            <a href="http://regexdict.com">网页版</a>
        </div> 
        </div>
    </body>
</html>
